.Calendar {
  width: 100%;
  margin: 0 auto;

  &__Container {
    --fc-border-color: #3f3f3f;
    --fc-page-bg-color: #1a1a1a;
    --fc-neutral-bg-color: #2c2c2c;
    --fc-list-event-hover-bg-color: #2c2c2c;
    --fc-event-bg-color: #1152d0;
    --fc-event-border-color: #4a6baf;
    --fc-event-text-color: #fff;
    --fc-button-bg-color: #2c2c2c;
    --fc-button-border-color: #3f3f3f;
    --fc-button-text-color: #fff;
    --fc-button-hover-bg-color: #3f3f3f;
    --fc-button-hover-border-color: #555;
    --fc-button-active-bg-color: #4f4f4f;
    --fc-button-active-border-color: #666;
    --fc-today-bg-color: rgba(255, 255, 255, 0.08);
    --fc-highlight-color: rgba(255, 255, 255, 0.1);
    --fc-neutral-text-color: #fff;
    --fc-theme-standard-border-color: #3f3f3f;
  }

  &__ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__Modal {
    background-color: #0f0f0f;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 80%;
    max-width: 500px;
    position: relative;
  }

  &__CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
