black==24.8.0
Django==5.1.6
djangorestframework==3.15.1
djangorestframework-stubs==1.9.1
djangorestframework_simplejwt==5.5.0
elasticsearch==7.17.12
elasticsearch-dsl==6.4.0
pytest==7.4.2
pytest-django==4.5.2
pytest-env==1.1.0
python-dotenv==1.1.0
